{% extends "base_bootstrap.html" %}

{% block content %}
<h1>Auto List</h1>
<ul>
    {% if auto_list %}
    {% for auto in auto_list %}
        <li> this is the {{auto.nickname}} (make by {{auto.make}}), and it
            has an amount of {{auto.mileage}} of miles (
            <a href="{% url 'autos:auto_update' auto.id %}"> Update</a>  |   
            <a href="{% url 'autos:auto_delete' auto.id %}"> Delete</a>)
        </li>
    {% endfor %}
    {% else %}
        <p> No existe ningún auto</p>
    {% endif %}
    <br>
    </br>
    <p><a href="{% url 'autos:auto_create' %}"> 
        Add an auto
    </p>
    <p><a href="{% url 'autos:make_list' %}">View makes</a> ({{make_count}}) |
    <a href="{% url 'autos:make_create' %}">Add a make</a></p>
</ul>
{% endblock %}